{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <h2 class="mb-4 text-center">All Users</h2>
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% endif %}

    <table class="table table-striped table-hover shadow-sm rounded">
        <thead class="table-dark">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Full name</th>
                <th>role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
                <tr>
                    <td>{{ u.username }}</td>
                    <td>{{ u.employee.full_name }}</td>
                    <td>{{ u.email }}</td>
                    <td>
                        {% if u.is_superuser %}
                            Superuser
                        {% elif u.is_staff %}
                            Staff
                        {% else %}
                            User
                        {% endif %}
                    </td>
                    <td>
                        {% if not u.is_superuser %}
                            <form method="POST" action="{% url 'delete_user' u.id %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this user?');">
                                    Delete
                                </button>
                            </form>
                        {% else %}
                            <span class="text-muted">Protected</span>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No users found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table>
        <tr>
            <th> bank employee name </th>
            <th> ID </th>
        </tr>
        {% for i in employee_file %}
        <tr>
            <td>{{ i.employee_id  }}</td>
            <td>{{ i.full_name  }}</td>
        
        </tr>
        {% endfor %}
    </table>
</div>
<script>
  // Auto-dismiss after 3 seconds
  setTimeout(() => {
    const alerts = document.querySelectorAll('.alert');
    alerts.forEach(alert => {
      // Use Bootstrap's alert instance to close it
      const bsAlert = bootstrap.Alert.getOrCreateInstance(alert);
      bsAlert.close();
    });
  }, 3000);
</script>
{% endblock %}
